<!-- about / why section -->
<section id="about" class=" py-5 text-center" style="background-image:url('../assets/skyp332.jpg'); ">
  <div class="dark-ov">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="info-header mb-5">
          <br>
          <br>
          <h1 class="text-primary pb-3">Who Am I?</h1>
          <p id="aboutPablito" class="pb-3">
            My name is Pablito. I have been Skydiving for over 17 years. I started on a great little DZ called Skydive USA. Due to my fascination on the gear, and some personal trust issues, i started rigging just after the Tandem progression course. Chris, Dave and Todd guided me through the process of getting the back rating. Parallel to rigging, I was also working on my instructional ratings.
            Through a chain of events I ended up in the Relative Workshop Rigging Loft. This rigging loft eventually led me to become the RWS/UPT Master Rigger. During the time in UPT I got the Tandem I/E Rating; Thanks Kip, Mark and Bill. <br><br>
            After 10 years at UPT, new, and exciting adventures came such as: Spain, Bahrain, Dubai and Nepal (just to name a few). Being away for 4 years made me realize how much I missed Deland. In my position currently I am now working for Vigil America and slowly starting my own rigging loft.

            <br>
            <br>
            <strong>My ratings are:</strong>
            <br>

              FAA Master Parachute Rigger (Seat/Chest/Back)<br>
              AFF I<br>
              Tandem I/E<br>
              PRO rating


        </p>




        </div>
        <!-- accordian -->
            <ngb-accordion [closeOthers]="true" #acc="ngbAccordion" activeIds="ngb-panel-0">
            <ngb-panel>
              <ng-template ngbPanelTitle class="card-header">
              <span class="text-primary"> <img src="../assets/pearl.png" style="max-height:40px;">Who are we?</span>
              </ng-template>
            <ng-template ngbPanelContent class="card-body">
              <div class="text-white">
                Sky-pirates started on a trip in Nepal with an amazing group of people. And while we were hiking in the amazing country we had neck warmers around our faces and the running joke was RRRRRRRR here we come between Mike McCann and Pablito Perazzoli. At some point one of us said “Sky-Pirates we are” and at that moment the wheels started to turn. The time passed and the idea kept growing but nothing was really done with until now.
              </div>


          </ng-template>
          </ngb-panel>
          <ngb-panel>
            <ng-template ngbPanelTitle class="card-header">
            <span class="text-primary"> <img src="../assets/pearl.png" style="max-height:40px;"> What’s our purpose?</span>
            </ng-template>
          <ng-template ngbPanelContent class="card-body">
            <div class="text-white">
              We have a dream that we can share skydiving with the world so we all can experience the dream of flight in a way that is very unique. We want to have the opportunity to donate tandems to people that are in need and to help educate people in the sport to make it a safer sport.
              We believe if you open your mind amazing things could happen and that’s our aim to help create a better world.
            </div>


        </ng-template>
        </ngb-panel>
        <ngb-panel>
          <ng-template ngbPanelTitle class="card-header">
          <span class="text-primary"> <img src="../assets/pearl.png" style="max-height:40px;">How do we plan to start doing this?</span>
          </ng-template>
        <ng-template ngbPanelContent class="card-body">
          <div class="text-white">
            We want use the money from our profits of merchandise to be used for this purpose,
            The instructor used for the jump will get paid and the video guy too, We don’t want to cut anyone out of their income, we just want to facilitate people of lower income to accomplish the dream.
            The training will be taken into case-by-case scenario, where the committee in charge will make a proper evaluation (Character, decision-making, willingness to work and so on).
          </div>

        </ng-template>
      </ngb-panel>
      </ngb-accordion>
      <br>
      <br>
        </div>
      </div>
    </div>
    </div>
</section>
<!-- boxes  -->
<!-- <section id="boxes" class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div id='cardBorderColoring' class="card text-center">
          <div class="card-body">
            <h3 id="cardTitleColoring">Web Development</h3>
            <p class="text-muted">Front-end Angularjs 5 development with unlimited backend possibilities.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div id='cardColoring' class="card text-center text-white">
          <div class="card-body">
            <h3 class="">Application Conversion</h3>
            <p >Using angular 5 and typescript to make apps on the web and in nativescript.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div id='cardBorderColoring' class="card text-center">
          <div class="card-body">
            <h3 id="cardTitleColoring">Javascript Takeover</h3>
            <p class="text-muted">Web applications and mobile applications are changing to be able to use javascript everywhere. Front-end, back-end, and mobile just sounds like everything we need!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div id='cardColoring' class="card text-center text-white">
          <div class="card-body">
            <h3 class="">Join The Movement</h3>
            <p>Allowing the web to move towards a more reactive age.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- explore section  -->
<section id="explore-section" class="bg-light text-muted py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="../assets/cups.jpg" alt="valkayrie swoop" class="img-fluid mb-3 rounded-circle" style="max-height:300px;">
      </div>
      <div class="col-md-6">
        <h3>Explore & Connect</h3>
        <p></p>
          <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i id="icons" class="fa fa-facebook"></i>
            </div>
            <a
              href="https://www.facebook.com/pablito.perazzoli"
              class="p-4 align-self-end btn btn-primary"
              id="home-card"
              target="_blank">Connect on Facebook</a>
          </div>
          <!-- <div class="d-flex flex-row">
            <div class="p-4 align-self-start">
              <i id="icons" class="fa fa-instagram"></i>
            </div>
            <a

              class="p-4 align-self-end"
              id="home-card"
              target="_blank">Connect on Instagram (none)</a>
          </div> -->
      </div>
    </div>
  </div>
</section>
