#icons {
  color: #041363;
  background:#fff;
  padding:4px;
  border-radius:5px;
  font-size: 35px;
  border: #044663 2px solid;
}
#cardColoring {
  background-color: #2387e7;
}
#cardBorderColoring {
  border: 2px #2387e7 solid;
}
#cardTitleColoring {
  color: #2387e7;
}
#about {
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% auto;
}
#aboutPablito{
  color: rgb(254, 160, 0);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.dark-ov{
  background-color:rgba(0, 0, 0, 0.8);
  margin-top: -49px;
  margin-bottom: -49px;
}
