<footer id="main-footer" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <div class="py-4">
          <h1 id="footerTitles" class="h5">Sky Pirates</h1>
          <p id="footerTitles">2017</p>
          <ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" id="modalHeader">
    <h2 class="h-4">Terms and Conditions</h2>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="modalHeader">
    <app-terms></app-terms>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>

<button class="btn btn-sm btn-outline-secondary" (click)="open(content)">Terms and Conditions</button>

        </div>
      </div>
    </div>
  </div>
</footer>
