#home-section1{
  background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:100% auto;

}
.dark-overlay{
  background-color:rgba(0, 0, 0, 0.3);
  min-height: 700px;
}
#addresses{
  margin: -5px;
}
