<header id="home-section1" style="background-image:url('../assets/skyp2.jpg');">
<div class="dark-overlay">
<div class="container" id="riggingStuff" style="margin-top: 70px; padding-top: 80px;">
  <div class="col-lg-4 m-auto" >
      <div class="card bg-info text-center card-form">
        <div class="card-body">
          <h3>Want Rigging Today?</h3>
          <h4>You can contact me by mail, email, or in person</h4>
          <ul>
            <li class="text-left">Want to contact SkyPirates?</li>
            <li class="text-left">Here is the perfect place.</li>
          </ul>


          <p id="addresses" class="font-weight-light">Skydiving in</p>
          <p id="addresses" class="font-weight-light">
Deland</p>
          <p id="addresses" class="font-weight-light"></p>
          <hr>
          <p id="addresses">Email:</p>
          <div>pperazzoli@gmail.com</div>
          <a class="btn btn-outline-dark" href="mailto:pperazzoli@gmail.com?subject=I would like SkyPirates">
Contact SkyPirates</a>
          <hr>
          <p id="addresses">Contact by Phone:</p>
          <div>Pablito</div>
          <div>+1-386-785-4086</div>

        </div>
      </div>
  </div>
</div>
</div>
</header>
