<div class="container-fluid px-5" id="canopyStuff" style="background-image:url('../assets/skyp332.jpg'); ">
  <div class="dark-ov3">
  <h1 id="canopyTitle">Tandem Instructor Course</h1>
  <hr>
  <p id="canopyInfop" class="text-white">If you have any questions or do not see the service you were looking for, please do not hesitate to contact us <button class="btn btn-outline-secondary" href="mailto:pperazzoli@gmail.com?subject=I would like rigging">email me</button></p>
  <div class="row">
    <div class="col-lg-8">
      <h5 id="canopy-titles">UPT/USPA Sigma</h5>
      <hr>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <img src="../assets/pearl.png" style="max-height:40px;">
        </div>
        <div class="p-2 align-self-center textOrange" id="canopy-card">UPT/USPA Tandem Sigma Course Fee- $500</div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <img src="../assets/pearl.png" style="max-height:40px;">
        </div>
        <div class="p-2 align-self-center textOrange" id="canopy-card">Tandem Rig rental per jump- $30</div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <img src="../assets/pearl.png" style="max-height:40px;">
        </div>
        <div class="p-2 align-self-center textOrange" id="canopy-card">Total jumps on course 10 (1 Solo and 9 Tandem) Total 19 Slots at DZs Rate.</div>
      </div>


      </div>
    </div>
    </div>
  </div>
    <!-- <br>
    <div class="row">
    <div class="col-lg-8">
      <h5 id="canopy-titles">Advanced Canopy Course</h5>
      <hr>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <i class="fa fa-plane"></i>
        </div>
        <div class="p-2 align-self-center" id="canopy-card">Intro into Swooping</div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <i class="fa fa-plane"></i>
        </div>
        <div class="p-2 align-self-center" id="canopy-card">Advanced Swooping Techniques</div>
      </div>
      <div class="d-flex flex-row">
        <div class="p-2 align-self-start">
          <i class="fa fa-plane"></i>
        </div>
        <div class="p-2 align-self-center" id="canopy-card">Daily Rates</div>
      </div>

    </div>
  </div>
</div> -->
