<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>


<!--

this is for the firebase.json fire thats going to be used to host on firebase

{
  "hosting": {
    "public": "dist",
    "ignore": [
      "firebase.json",
      "**/.*",
      "**/node_modules/**"
    ],
    "redirects": [
      {
        "source": "/home",
        "destination": "https://www.cleanairsport.com",
        "type": 302
      },
      {
        "source": "/rigging",
        "destination": "https://www.cleanairsport.com",
        "type": 302
      },
      {
        "source": "/canopy",
        "destination": "https://www.cleanairsport.com",
        "type": 302
      },
      {
        "source": "/contact",
        "destination": "https://www.cleanairsport.com",
        "type": 302
      },
      {
        "source": "/speed",
        "destination": "https://www.cleanairsport.com",
        "type": 302
      }
    ]
  }
} -->
