<header id="home-section" style="background-image:url('../assets/skyp2.jpg'); ">
  <div class="dark-overlay">
    <div class="home-inner">
      <div class="container" >
        <div class="row">
          <div class="col-lg-4" id="wantRigging">
              <div class="card bg-warning text-center card-form">
                <div class="card-body">
                  <h3>Want Rigging Today?</h3>
                  <h4>Contact me here</h4>
                  <p class="font-weight-light ">Willing to work with special needs</p>
                  <button class="btn btn-outline-info" type="button" routerLink="/contact" >Contact</button>
                  <br>
                  <button class="btn btn-outline-secondary" type="button" routerLink="/rigging" >Rigging Info</button>
                </div>
              </div>
          </div>
          <div class="col-lg-8 d-none d-lg-block">
            <h1 class="display-4" id="home-logo">Let us <strong>evolve</strong> the skydiving world <strong>together!</strong></h1>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <img src="../assets/pearl.png" style="max-height:40px;">
              </div>
              <div class="p-4 align-self-start" id="home-card">Creating custom gear to fit any need.</div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <img src="../assets/pearl.png" style="max-height:40px;">
              </div>
              <div class="p-4 align-self-start" id="home-card">Proven safety record with impeccible customer service.</div>
            </div>
            <div class="d-flex flex-row">
              <div class="p-4 align-self-start">
                <img src="../assets/pearl.png" style="max-height:40px;">
              </div>
              <div class="p-4 align-self-start" id="home-card">Creating standards beyond the norm.</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</header>
<app-explore></app-explore>
